.wrapper {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(calc(-50% - 1px));
  border: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;

  img {
    width: 20px;
  }
}