.wrapper {
  position: absolute;
  top: 11px;
  right: 0;
  width: 1px;
  z-index: 10;
  transform: translateX(50%);
  transition: width ease 0.4s;
  border-radius: 4px;

  &::before {
    content: "";
    display: none;
    width: 20px;
    height: 100%;
    transform: translateX(-100%);
  }

  &::after {
    content: "";
    display: none;
    width: 20px;
    height: 100%;
    transform: translate(8px, -100%);
  }

  &:hover {
    width: 8px;
    cursor: col-resize;
    background: #24a7ff;

    &::before,
    &::after {
      display: block;
    }
  }
}
