.techCol {
  position: relative;
  width: 10px;
  background: #d5e4ff;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;

  &.active {
    background: #c8dbff;
    border: 1px solid #24a7ff;
    border-right: 0;
  }

  &:hover {
    cursor: pointer;
    background: #c8dbff;
  }
}

.selectArea {
  position: absolute;
  top: 0;
  left: 10px;
  height: calc(100% + 1px);
  z-index: 3;
  border: 2px dashed #ff321e;
  box-sizing: border-box;
  animation: blinker 0.5s linear;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
