.wrapper {
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  padding: 4px;
  white-space: nowrap;
  box-sizing: border-box;
  line-height: 1em;
  text-align: center;
  position: relative;
  font-size: 13px;
}

.selected {
  background: aliceblue;
}
