.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  background: white;
  bottom: 0;
  border-radius: 4px;
  transform: translateY(calc(100% + 6px));
  z-index: 30;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);

  & > button,
  & > select {
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  img {
    width: 15px;
  }
}
